body {
    font-family: Arial, sans-serif;
}

#profile-pic {
    border-radius: 50%; /* Hace que la imagen sea ovalada */
    object-fit: cover;  /* Asegura que la imagen mantenga su proporción */
    width: 200px;       /* Ajusta el ancho de la imagen */
    height: 230px;      /* Ajusta la altura de la imagen */
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.icon-dotnet::before {
    content: url('dotnet-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

.icon-database::before {
    content: url('database-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

.icon-ci-cd::before {
    content: url('ci-cd-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

.icon-cloud::before {
    content: url('cloud-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

.icon-email::before {
    content: url('email-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

.icon-phone::before {
    content: url('phone-icon.png');
    display: inline-block;
    width: 24px;  /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
}

#posts {
    text-align: center;
  }
  
  .code-block {
    position: relative;
    margin-bottom: 1em;
    background: #f8f9fa;
    padding: 1em;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    overflow: auto;
  }
  
  .code-block pre {
    margin: 0;
    overflow: auto;
  }
  
  .code-block button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .code-block button:hover {
    background-color: #5a6268;
  }

.home-description {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño, ajusta según sea necesario */
}
.social-links {
    margin-top: 1rem;
}
.social-icon {
    font-size: 2rem; /* Tamaño del ícono, ajusta según sea necesario */
    color: #333; /* Color del ícono */
    margin: 0 1rem; /* Espaciado entre íconos */
    text-decoration: none;
}
.social-icon:hover {
    color: #007bff; /* Color al pasar el cursor, ajusta según sea necesario */
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px; /* Ajusta según tus necesidades */
}
